# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
daa_venv/
*.venv
offline_cache/
offline_cache

# Ignore large model directories but keep joblib files
**/saved_models_transformer/models--*
**/saved_models_transformer/**/blobs/
**/saved_models_transformer/**/snapshots/
**/saved_models_transformer/**/refs/
**/saved_models_transformer/**/.no_exist/

# Explicitly ignore the specific large model folder just in case
**/models--Alibaba-NLP--gte-large-en-v1.5/
**/saved_models_transformer/.locks